{{define "page"}}
    {{$Topics := .Layout.Topics}}
    <div class="ui container" >    
	            
		<table class="ui celled unstackable striped table" style="word-break: break-word;">
				<thead>
                <tr>
                    <th colspan="2">
                        Artikelen
                        <br><br>
                        <div class="ui icon fluid input">
                            <i class="search icon"></i>
                            <input type="text" placeholder="Search..." id="search" onchange="search()">
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody>
                {{range .Articles}}
                    <tr id="{{.path}}">
                        <td class="collapsing">
							<div class="ui small image">
								<a class="ui right tiny corner {{(index $Topics .topic).color}} label"><i class="{{(index $Topics .topic).icon}} icon"></i></a>
								<img class="ui fluid image" src="{{.thumbnail}}">
							</div>
						</td>
                        <td>
						<div style="word-break:break-all;word-break: break-word;">
							<a class="ui medium header" href="/articles/{{.path}}">{{.title}}</a>							<p class="mobile hidden">{{.quicktext}}</p>

						</div>
						</td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script>
        var articles = [
            {{range .Articles}}
                {
                    "topic": "{{(index $Topics .topic).name}}",
                    "title": "{{.title}}",
                    "path": "{{.path}}"
                },  
            {{end}}
        ]

        var idx = lunr(function () {
            this.ref('path')
            this.field('topic')
            this.field('title')

            articles.forEach(function (doc) {
                this.add(doc)
            }, this)
        })

        function search() {
            console.log(idx.search($("#search").val()))
        }
    </script> 
{{end}}