{{define "page"}}
    <div class="ui container">
        <br>
        <span style="font-weight: 900; font-size: 35pt; line-height: 35pt;">{{.title}}</span>
        <h2>{{.quicktext}}</h2>
        <br>
        <span class="date">Gepubliceerd op Maandag, 5 April 2018</span>
        <br><br>
        <div class="ui stackable two column grid">
            <div class="twelve wide column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{.thumbnail}}">
                    </div>
                    <div class="content">
                        {{mdprocess .body}}
                    </div>
                </div>
                <div id="disqus_thread"></div>
                <script>

                var disqus_config = function () {
                    this.page.url = "/article/" + "{{.Path}}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "hermeskrant"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://hermeskrant.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the comments section.</a></noscript>
            </div>
            <div class="four wide column">
                <h4 class="ui horizontal divider header">
                    <i class="balance scale icon"></i>
                    MEER OVER POLITIEK
                </h4>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="https://nos.nl/data/image/2018/09/10/498971/xxl.jpg">
                    </div>
                    <div class="content">
                        <a class="header">VVD-fractieleider Dijkhoff valt RK-Kerk aan en schrijft zich uit</a>
                        <div class="meta">
                            <span class="date">Gepubliceerd op Maandag, 5 April 2018</span>
                        </div>
                        <div class="description">
                                VVD-fractievoorzitter Dijkhoff schrijft in een felle open brief aan kardinaal Eijk dat hij de Rooms-Katholieke Kerk gaat verlaten. "Ik kies voor de liefde en de mensen in plaats van de beperkingen en de kerk." <a class="not_mobile" href="readmore"> Lees meer...</a>
                        </div>
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="https://www.powned.tv/media/129885/hello-kitty-gun-45.jpg?anchor=center&mode=crop&quality=80&width=1024&height=576&rnd=131816666280000000">
                    </div>
                    <div class="content">
                        <a class="header">Schoolschutter Roermond twee weken langer vast.</a>
                        <div class="meta">
                            <span class="date">Gepubliceerd op Maandag, 5 April 2018</span>
                        </div>
                        <div class="description">
                                De 16-jarige jongen uit Koningsbosch die afgelopen vrijdag enkele schoten loste op een school voor speciaal onderwijs (naar verluidt had hij ruzie met een medescholier) moet van de rechter-commissaris in Roermond in ieder geval nog twee weken langer in hechtenis blijven zitten.<a class="not_mobile" href="readmore"> Lees meer...</a>
                        </div>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
{{end}}