{{define "page"}}
    {{$Topics := .Layout.Topics}}
    {{$path := .path}}
    {{$topic := .topic}}
    <div class="ui container">
        <br>
        <span style="font-weight: 900; font-size: 35pt; line-height: 35pt;">{{.title}}</span>
        <h2>{{.quicktext}}</h2>
        <br>
        <span class="date">Gepubliceerd op {{.date}}</span>
        <br><br>
        <div class="ui stackable two column grid">
            <div class="twelve wide column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{.thumbnail}}">
                    </div>
                    <div class="content">
                        {{mdprocess .body}}
                    </div>
                </div>
            {{if .comments}}
                <div id="disqus_thread"></div>
                <script>

                var disqus_config = function () {
                    this.page.url = "https://new.hermeskrant.nl/articles/" + "{{.Path}}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{.Path}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://hermeskrant.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
                })();
                </script>
                <noscript>Please enable JavaScript to view the comments section.</a></noscript>
            {{end}}
            </div>
            <div class="four wide column">
                <h4 class="ui horizontal divider header">
                    <i class="{{(index $Topics .topic).icon}} icon"></i>&nbsp;&nbsp;<span style="text-transform: uppercase;">MEER OVER {{(index $Topics .topic).name}}</span>
                </h4>
                {{$Counter := 0}}
                {{range .Articles}}
                    {{if lt $Counter 2}}
                        {{if (not (eq $path .path))}}
                            {{if (eq $topic .topic)}}
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="{{.thumbnail}}">
                                    </div>
                                    <div class="content">
                                        <a class="header">{{.title}}</a>
                                        <div class="meta">
                                            <span class="date">Gepubliceerd op Maandag, 5 April 2018</span>
                                        </div>
                                        <div class="description">
                                            {{.quicktext}} <a class="not_mobile" href="/articles/{{.path}}"> Lees meer...</a>
                                        </div>
                                    </div>
                                </div>
                                {{$Counter := increment $Counter}}
                            {{end}}
                        {{end}}
                    {{end}}
                {{end}}
            </div>
        </div>
    </div>
{{end}}